/*import-----------------------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

/*basic-----------------------------------------------------------------------------------*/

body,
html {
  font-size: 12px;
  line-height: 1.6;
  color: #222222;
  font-family: 'Noto Sans', Dotum, sans-serif;
}
body {
  background-color: #eceef4;
}
a:active,
a:link,
a:visited {
  color: #808081;
  text-decoration: none;
}
a:hover {
  color: #000;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
img {
  vertical-align: top;
}
.clearfix:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#wrap {
  max-width: 1000px;
  min-width: 250px;
  padding: 30px;
  margin: 30px auto;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
}
.content {
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px #aaa;
  border-radius: 4px;
}
.content:before {
  content: '';
  display: block;
  margin: 10px 0 20px;
  border-top: 1px solid #aaa;
}
.sub:before {
  content: '';
  display: block;
  margin: 30px 0 14px;
  border-top: 1px dashed #bbb;
}
.option {
  margin-left: 20px;
}
.option:before {
  content: '';
  display: block;
  margin: 14px 0 14px;
  border-top: 1px dashed #ddd;
}
h1 {
  margin-bottom: 16px;
  color: #444444;
  font-size: 24px;
}
h2 {
  margin-bottom: 14px;
  color: #1a99aa;
  font-size: 18px;
}
h3 {
  margin-top: 14px;
  color: #1a99aa;
  font-size: 14px;
}
h4 {
  margin-top: 14px;
  color: #1a99aa;
  font-size: 13px;
}
